.fblbCenterOuter {
	position: fixed;
	display: block;
	top: 50%;
	height: auto;
	overflow: visible;
}
.fblbCenterOuter.fblbFixed {
	position: fixed;
	display: block;
	top: 0;
	height: auto;
	overflow: visible;
}

.fblbFixed .fblbCenterInner {
	margin-top: 0;
}
