<?xml version="1.0"?>
<config>
    <modules>
        <Ksv_Social>
            <version>0.1.0</version>
        </Ksv_Social>
    </modules>
    <frontend>
        <layout>
            <updates>
                <social>
                    <file>ksv_social.xml</file>
                </social>
            </updates>
        </layout>
        <routers>
            <social>
                <use>standard</use>
                <args>
                    <module>Ksv_Social</module>
                    <frontName>ksvsocial</frontName>
                </args>
            </social>
        </routers>        
        <translate>
            <modules>
                <Ksv_Social>
                    <files>
                        <default>Ksv_Social.csv</default>
                    </files>
                </Ksv_Social>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <social>
                <class>Ksv_Social_Block</class>
            </social>
        </blocks>
        <models>
            <social>
                <class>Ksv_Social_Model</class>
            </social>
        </models>
        <helpers>
            <social>
                <class>Ksv_Social_Helper</class>
            </social>
        </helpers>        
        <models>
            <social>
                <class>Ksv_Social_Model</class>
                <resourceModel>social_mysql4</resourceModel>
            </social>
            <social_mysql4>
                <class>Ksv_Social_Model_Mysql4</class>
                <entities>
                    <item>
                        <table>ksv_socialgp</table>
                    </item>
                </entities>
            </social_mysql4>
        </models>
        <resources>
            <social_setup>
                <setup>
                    <module>Ksv_Social</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </social_setup>
            <social_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </social_write>
            <social_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </social_read>
        </resources>                        
    </global>
    <adminhtml>
        <menu>
			<social translate="title" module="social">
				<title>Social Slide</title>
				<sort_order>72</sort_order>
				<children>
					<settings translate="title" module="social">
						<title>Settings</title>
						<action>adminhtml/system_config/edit/section/social</action>
						<sort_order>40</sort_order>
					</settings>
				</children>
			</social>
        </menu> 		
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <social translate="title" module="social">
                                            <title>social</title>
                                        </social>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>       
    </adminhtml>
    <default>
        <social>
            <general>
                <jquery>1</jquery>
            </general>
            <facebook>
                <enable>1</enable>
                <url>http://www.facebook.com/FacebookDevelopers</url>                        
                <width>300</width>        
                <height>635</height>                        
                <show_faces>1</show_faces>    
                <show_stream>0</show_stream>                         
                <force_wall>1</force_wall>                         
                <show_header>1</show_header>  
                <design>2</design>                  
                <position>Left</position>  
                <position_vertical>Fixed</position_vertical>   
                <position_vertical_fixed>5</position_vertical_fixed>                        
                <position_button>Fixed</position_button>                             
                <position_button_fixed>5</position_button_fixed>                     
                <border_width>5</border_width>                             
                <border_color>#3b5998</border_color>  
                <bg_color>#ffffff</bg_color>  
                <color_scheme>light</color_scheme>                             
                <z_index>1000</z_index>                             
                <locale>en_US</locale>                   
            </facebook>
            <twitter>
                <enable>1</enable>
                <username>magento</username>                        
                <width>300</width>                        
                <height>635</height>                        
                <show_follow_button>1</show_follow_button>    
                <show_poll>1</show_poll> 
                <tweet_number>20</tweet_number>                         
                <design>2</design>    
                
                <position>Left</position>  
                <position_vertical>Fixed</position_vertical>   
                <position_vertical_fixed>5</position_vertical_fixed>                       
                <position_button>Fixed</position_button>                             
                <position_button_fixed>165</position_button_fixed>                   
                <border_width>5</border_width>                             
                <border_color>#33ccff</border_color>  
                <shell_color>#33ccff</shell_color>  
                <shell_text>#ffffff</shell_text>  
                <tweet_background>#ffffff</tweet_background>  
                <tweet_text>#000000</tweet_text>  
                <links>#47a61e</links>  
                <z_index>100</z_index>                             
                <language>en</language>                 
            </twitter>
            <youtube>
                <enable>1</enable>
                <channel>magentocommerce</channel>                        
                <width>300</width>                        
                <height>635</height>                        
                <design>1</design>                    
                <position>Left</position>  
                <position_vertical>Fixed</position_vertical>   
                <position_vertical_fixed>5</position_vertical_fixed>                           
                <position_button>Fixed</position_button>                             
                <position_button_fixed>485</position_button_fixed>                   
                <border_width>5</border_width>                             
                <border_color>#9b9b9b</border_color>  
                <bg_color>#ffffff</bg_color>  
                <z_index>1000</z_index>                             
            </youtube>
            <google>
                <enable>1</enable>
                <page_id>+magento</page_id>                        
                <show_feed>1</show_feed>   
                <height>635</height>                        
                <width>300</width>                        
                <design>2</design>                    
                <position>Right</position>  
                <position_vertical>Fixed</position_vertical>   
                <position_vertical_fixed>5</position_vertical_fixed>                        
                <position_button>Fixed</position_button>                             
                <position_button_fixed>325</position_button_fixed>                   
                <border_width>5</border_width>                             
                <border_color>#000000</border_color>  
                <bg_color>#ffffff</bg_color>  
                <language>en-US</language>  
                <z_index>1000</z_index>                             
            </google>
        </social>
    </default>
</config>
